<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customAdministrationNavbar}}}
</header>

<main>
    <section class="container py-4">
        <h2>Alta Rol de Autorización</h2>
        <form class="row g-3 py-2" method="post" action="/register-authorization-role">
            <div class="col-md-6">
                <label for="role" class="col-form-label">Rol:</label>
                <input type="text" class="form-control" name="role"/>
            </div>
            <label for="users">Seleccionar usuario:</label>
            <select class="col-md-6" name="users">
                {{#each users}}
                    <option value={{this}}>{{this.username}}</option>
                {{else}}
                {{/each}}
            </select>
            <div class="d-flex justify-content-center gap-2">
                <button type="submit" class="btn btn-primary">Aceptar</button>
            </div>
        </form>
    </section>
</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>