<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customAdministrationNavbar}}}
</header>
<main>
    <section class="titles justify-content-center">
        <h2 class="title">{{title}}</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post" {{#if registered_object}}
              action="{{action}}/{{registered_object.id}}" {{else}} action="{{action}}" {{/if}}>
            <div class="col-md-6">
                <label for="name" class="col-form-label">Nombre:</label>
                <input type="text" {{#if registered_object}}
                       value="{{registered_object.name}}" {{/if}} class="form-control" name="name"/>
            </div>
            <div class="col-md-6">
                <label for="description" class="col-form-label">Descripcion:</label>
                <input type="text" {{#if registered_object}}
                       value="{{registered_object.description}}" {{/if}} class="form-control" name="description"/>
            </div>
            {{#if registered_object}}
            {{else}}
                <div class="col-md-6">
                    <label for="serviceType">Tipo:</label>
                    <select class="col-md-6" name="serviceType">
                        <option label="Seleccione ..." value="" disabled selected></option>
                        <option value="elevator">ASCENSOR</option>
                        <option value="escalator">ESCALERA</option>
                        <option value="toilet">BAÑO</option>
                    </select>
                </div>
            {{/if}}
            <div class="col-md-6">
                <label for="state">Estado:</label>
                <select class="col-md-6" name="state">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each states}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="d-flex justify-content-center gap-2 col-md-12">
                <a class="btn btn-secondary" href="{{action}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fab fad fas far fa-save"
                                                                 aria-hidden="true"></i>{{buttonActionLabel}}</button>
            </div>
        </form>
    </section>
</main>
<footer>
</footer>
{{{scripts}}}
</body>
</html>