<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customHomeNavbar}}}
</header>
<main>
    <section class="titles justify-content-center">
        <h2 class="title">{{title}}</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post" {{#if registered_object}}
              action="incidents/{{registered_object.id}}" {{else}} action="{{action}}" {{/if}}>

            <div class="col-md-6">
                <label for="entities" class="col-form-label">Entidad:</label>
                <select class="col-md-6 form-control" name="entity">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each entities}}
                        <option value={{this.id}}>{{this.name.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-6">
                <label for="establishments" class="col-form-label">Establecimiento:</label>
                <select class="col-md-6 form-control" name="establishment">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each establishments}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-6">
                <label for="services" class="col-form-label">Servicio:</label>
                <select class="col-md-6 form-control" name="service">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each services}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-12">
                <label for="name" class="col-form-label">Observaciones:</label>
                <input type="text" {{#if registered_object}}
                       value="{{registered_object.observations}}" {{/if}} class="form-control" name="observations"/>
            </div>
            <div class="d-flex justify-content-center gap-2 col-md-12">
                <a class="btn btn-secondary" href="incidents"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fab fad fas far fa-save"
                                                                 aria-hidden="true"></i>Registrar</button>
            </div>
        </form>
    </section>
</main>
<footer>
</footer>
{{{scripts}}}
</body>
</html>