<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customHomeNavbar}}}
</header>

<main>

    <section class="titles justify-content-center">
        <h2 class="title">{{title}}</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post"
            {{#if registered_incident}}
              action="/incidents/{{registered_incident.id}}/review" {{else}}
              action="/incidents" {{/if}}
        >
            <div class="col-md-6">
                <label for="services">Seleccionar servicio:</label>
                <select class="col-md-6" name="services" {{#if registered_incident}}
                        disabled
                {{/if}}>

                    {{#if registered_incident}}
                        <option value={{registered_incident.incident.service.id}}>{{registered_incident.incident.service.name}}</option>
                    {{else}}
                        {{#each services}}
                            <option value={{this.id}}>{{this.name}}</option>
                        {{else}}
                        {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="col-md-6">
                <label for="communities">Seleccionar comunidad:</label>
                <select class="col-md-6" name="communities" {{#if registered_incident}}
                        disabled
                {{/if}}>
                    {{#if registered_incident}}
                        <option value={{registered_incident.community.id}}>{{registered_incident.community.name}}</option>
                    {{else}}
                        {{#each communities}}
                            <option value={{this.id}}>{{this.name}}</option>
                        {{else}}
                        {{/each}}
                    {{/if}}
                </select>
            </div>
            <div class="col-md-6">
                <textarea name="observations"
                          rows="4" cols="108"
                    {{#if registered_incident}}
                          disabled
                    {{/if}}
                >{{#if registered_incident}}
                    {{registered_incident.incident.observations}}
                {{/if}}</textarea>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-custom"><a href="/incidents">Cancelar</a></button>
                <button type="submit" class="btn btn-custom">{{buttonActionLabel}}</button>
            </div>
        </form>
    </section>

</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>