<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>

<body>
<header>
    {{{customAdministrationNavbar}}}
</header>

<main>
    <div class="d-flex justify-content-end p-2">
        <legend class="">{{title}}</legend>
        <a
                class="btn btn-md btn-custom"
                href="/users/register"
        >
            Agregar
        </a>
    </div>
    <section>
        <div class="px-1">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table
                            class=" table table-striped"
                    >
                        <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each users}}
                            <tr>
                                <td>{{this.username}}</td>
                                <td>{{this.details.name}}</td>
                                <td>{{this.details.lastname}}</td>
                                <td>{{this.details.email}}</td>
                                <td>{{this.details.telephone}}</td>
                                <td>{{this.authorizationRole}}</td>
                                <td class="px-4">
                                    <a href="/users/{{this.id}}/edit" class="btn-sm "><i
                                            class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="/users/{{this.id}}/delete" class="btn-sm "><i
                                            class="fa-solid fa-xmark"
                                            style="color:red"></i></a>
                                </td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="6">No hay usuarios</td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </section>
</main>

<footer>
</footer>
{{{scripts}}}
</body>
</html>