<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customAdministrationNavbar}}}
</header>
<main>
    <section class="titles justify-content-center">
        <h2 class="title">{{title}}</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post" {{#if registered_object}}
              action="{{action}}/{{registered_object.id}}" {{else}} action="{{action}}" {{/if}}>
            {{#if registered_object}}
                <div class="col-md-6">
                    <label for="entity" class="col-form-label">Entidad:</label>
                    <select class="col-md-6 form-control" name="entity" onchange="showFields(this)">
                        <option label="Seleccione ..." value="" disabled selected></option>
                        <option value="organization" {{#if "registered_object.entity_type == organization" }} selected {{/if}}>ORGANIZACION</option>
                        <option value="transportLine" {{#if "registered_object.entity_type == transport_line"}} selected {{/if}}>LINEA DE TRANSPORTE</option>
                    </select>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label for="name" class="col-form-label">Nombre:</label>
                    <select class="col-md-6 form-control" name="name">
                        <option value={{registered_object.name.id}} selected > {{registered_object.name.name}}</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="type" class="col-form-label">Tipo:</label>
                    <select class="col-md-6 form-control" name="type">
                        <option value={{registered_object.type.id}} selected> {{registered_object.type.name}}</option>
                    </select>
                </div>
            {{else}}
                <div class="col-md-6">
                    <label for="entity" class="col-form-label">Entidad:</label>
                    <select class="col-md-6 form-control" name="entity" onchange="showFields(this)">
                        <option label="Seleccione ..." value="" disabled selected></option>
                        <option value="organization">ORGANIZACION</option>
                        <option value="transportLine">LINEA DE TRANSPORTE</option>
                    </select>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <label for="name" class="col-form-label">Nombre:</label>
                    <select class="col-md-6 form-control" name="name">
                        <option label="Seleccione ..." value="" disabled selected></option>
                        {{#each names}}
                            <option value={{this.id}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="type" class="col-form-label">Tipo:</label>
                    <select class="col-md-6 form-control" name="type">
                        <option label="Seleccione ..." value="" disabled selected></option>
                        {{#each types}}
                            <option value={{this.id}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
            {{/if}}
            <div id="departure" class="col-md-6" style="display: none;">
                <label for="departure" class="col-form-label">Estación Origen:</label>
                <select class="col-md-6 form-control" name="departure">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each establishments}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div id="arrival" class="col-md-6" style="display: none;">
                <label for="arrival" class="col-form-label">Estación Destino:</label>
                <select class="col-md-6 form-control" name="arrival">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    {{#each establishments}}
                        <option value={{this.id}}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <div id="direction" class="col-md-6" style="display: none;">
                <label for="direction" class="col-form-label">Sentido:</label>
                <select class="col-md-6 form-control" name="direction">
                    <option label="Seleccione ..." value="" disabled selected></option>
                    <option value="forward">IDA</option>
                    <option value="return">VUELTA</option>
                </select>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
                <div class="px-1">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="col-2">ID</th>
                                    <th class="col-10">Nombre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each registered_object.establishments}}
                                    <tr>
                                        <td>{{this.id}}</td>
                                        <td>{{this.name}}</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td colspan="6">No hay Establecimientos</td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="d-flex justify-content-center gap-2 col-md-12">
                <a class="btn btn-secondary" href="{{action}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fab fad fas far fa-save"
                                                                 aria-hidden="true"></i>{{buttonActionLabel}}</button>
                <a class="btn btn-primary" href="{{action}}-add-establishment/{{registered_object.id}}">
                    <i class="fa-regular fa-file"></i>
                    Agregar Establecimiento
                </a>
            </div>
        </form>
    </section>
    </section>
</main>
<script>
    function showFields(select) {
        var departure  = document.getElementById("departure");
        var arrival  = document.getElementById("arrival");
        var direction  = document.getElementById("direction");

        if (select.value === "transportLine") {
            departure.style.display = "block";
            arrival.style.display = "block";
            direction.style.display = "block";
        } else {
            departure.style.display = "none";
            arrival.style.display = "none";
            direction.style.display = "none";
        }
    }
</script>
<footer>
</footer>
{{{scripts}}}
</body>
</html>