<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customHomeNavbar}}}
</header>

<main>
    <div class="home-fluid">
        <section class="px-2">
            <h2 class="">¡Bienvenido {{user.username}}!</h2>
        </section>
        <section>
            <div class="px-2">

            </div>
        </section>
    </div>
</main>

<footer>
    {{{footer}}}
</footer>
{{{scripts}}}
</body>
</html>