<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customAdministrationNavbar}}}
</header>
<main>
    <div class="d-flex justify-content-end p-2">
        <legend class="">{{title}}</legend>
    </div>
    <section>
        <div class="px-1">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Resultado</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each results}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.impactLevel}}</td>
                            </tr>
                        {{else}}
                            <tr>
                                <td colspan="6">No hay Registros en el Sistema</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
</footer>
{{{scripts}}}
</body>
</html>