<!DOCTYPE html>
<html lang="en">
<head>
    {{{headMeta}}}
</head>
<body>
<header>
    {{{customAdministrationNavbar}}}
</header>
<main>
    <section class="titles justify-content-center">
        <h2 class="title">{{title}}</h2>
    </section>
    <section class="container">
        <form class="row g-3 py-2" method="post" {{#if registered_object}}
              action="{{action}}/{{registered_object.id}}" {{else}} action="{{action}}" {{/if}}>
            <div class="col-md-6">
                <label for="name" class="col-form-label">Nombre:</label>
                <input type="text" {{#if registered_object}}
                       value="{{registered_object.name}}" {{/if}} class="form-control" name="name"/>
            </div>
            <div class="col-md-6">
                <label for="description" class="col-form-label">Descripción:</label>
                <input type="text" {{#if registered_object}}
                       value="{{registered_object.name}}" {{/if}} class="form-control" name="description"/>
            </div>
            {{#if registered_object}}
                <div class="col-md-12">
                </div>
                <div class="col-md-12">
                    <div class="px-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th class="col-6">Nombre</th>
                                        <th class="col-6">Rol</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{#each members}}
                                        <tr>
                                            <td>{{this.user.username}}</td>
                                            <td>{{this.role}}</td>
                                        </tr>
                                    {{else}}
                                        <tr>
                                            <td colspan="6">No hay Miembros Asociados</td>
                                        </tr>
                                    {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                </div>
            {{/if}}
            <div class="d-flex justify-content-center gap-2 col-md-12">
                <a class="btn btn-secondary" href="{{action}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>Cancelar</a>
                <button type="submit" class="btn btn-primary"><i class="fa fab fad fas far fa-save"
                                                                 aria-hidden="true"></i>{{buttonActionLabel}}</button>
                {{#if registered_object}}
                    <a class="btn btn-primary" href="{{action}}/{{registered_object.id}}/add-member"><i
                            class="fa-regular fa-file"></i>Agregar Miembro</a>
                {{/if}}
            </div>
        </form>
    </section>
</main>
<footer>
</footer>
{{{scripts}}}
</body>
</html>